name: Textdoc Download to Main to Gofile

on:
  push:
    branches:
      - Tooo
  workflow_dispatch:

jobs:
  torrent-upload:
    runs-on: ubuntu-latest
    env:
      PIXELDRAIN_API_KEY: '8ec6f000-e8d1-403d-820b-4324a6a68869'  # Replace with your actual API key
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install aria2
          
      - name: Download torrent content with webtorrent-cli
        run: |
          aria2c --seed-time=0 --dir=downloaded_files -i "https://s800.baixars.com:8443/d/ujjq262xheh6777tmvtzfrkt4qb27r3hkmw36tn5tkgs43p4tg5bonl4mxjxo76srjlv4b7j/Mystery.Lane.S01.720p.IVIEW.WEB-DL.AAC2.0.x264-TeamK9.rar?t="
          
      - name: Upload all downloaded files (recursive)
        run: |
           find ./downloaded_files -type f \( -iname "*.avi" -o -iname "*.mp4" -o -iname "*.mkv" -o -iname "*.srt" \) -print0 | while IFS= read -r -d '' file; do
           curl -g -X POST "https://upload.gofile.io/uploadfile" \
           -H "Authorization: Bearer NkEP9nPmjC5bYQB7ZabZKnsUEBi7ww85" \
           -F "file=@\"$file\"" \
           -F "folderId=33072955-da61-4062-bad6-71f3bc339712"
           done
