name: Textdoc Download to Main to Gofile

on:
  push:
    branches:
      - Mainn
  workflow_dispatch:

jobs:
  torrent-upload:
    runs-on: ubuntu-latest
    env:
      PIXELDRAIN_API_KEY: '8ec6f000-e8d1-403d-820b-4324a6a68869'  # Replace with your actual API key
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install aria2
          curl -s https://textdoc.co/5xvG5PnuTb838mhsX | grep -oP 'magnet:\S+|https?://\S+\.(mp4|mkv|avi|srt)' > links.txt
          
      - name: Download torrent content with webtorrent-cli
        run: |
          aria2c --seed-time=0 --dir=downloaded_files -i links.txt

      - name: Upload all downloaded files (recursive)
        run: |
           find ./downloaded_files -type f \( -iname "*.avi" -o -iname "*.mp4" -o -iname "*.mkv" -o -iname "*.srt" \) -print0 | while IFS= read -r -d '' file; do
           curl -g -X POST "https://upload.gofile.io/uploadfile" \
           -H "Authorization: Bearer D6TLIacgqNHu93hAjSOBgyZxOWEUOmzO" \
           -F "file=@\"$file\"" \
           -F "folderId=5c4eb455-4010-4125-bd9c-3fae891cbcd5"
           done
